<div class="container js-booksIndex">
  <h1 class="#f3e5f5 purple lighten-5 center">[Rails+Vue.js]~Bookshelf~</h1>
  <div class="row #e3f2fd blue lighten-5">
    <% @books.each do |book| %>
      <div class="col s4 m6">
        <div class="card btn">
          <span class="card-title" v-on:click="setBookInfo(<%= book.id %>)">
            <%= book.title %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row" v-show="bookInfoBool">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            【{{ bookInfo.title }}】
          </span>
          <div class="detail">
            ・著者：{{ bookInfo.author }}
          </div>
          <div class="detail">
            ・出版社：{{ bookInfo.publisher }}
          </div>
          <div class="detail">
            ・ジャンル：{{ bookInfo.genre }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'book' %>
